link(href='http://fonts.googleapis.com/css?family=Droid+Sans:700',rel='stylesheet',type='text/css')
link(href='/stylesheets/source_code.css',rel='stylesheet',type='text/css')
|Hi
br
br
|My name is Basab Maity. I have strong experience in Ruby on Rails for more than 3 years working on complex web application.
br
|I aspire a position where I can develop my abilities and contribute to the company, and meet my goals, grow with the company and also move up to a position where I can demonstrate my skills and be an excellent employee.
br
|SUMMARY:
|18 months of comprehensive experience designing and developing web based application in technologies such as .Net, HTML, CSS, PHP and Wordpress.
|18 months of experience in programming ruby technology including rails
|Strong skills on rails Framework 2.3.8, 3.2.3
|Hands on experience using Ajax, JavaScript, Backbone.js, Angular.js, Node.js, HAML, Cofeescript.
|Handled all aspects of software development life cycle - designing database, object model, coding, Production Support, Maintenance and testing.
br
br
|Thanks
div(style="float:right")
   a(HREF="javascript:history.back()")
     |Back
  br
  br

